%html
  %head
    %title rambler                 
    - if ENV["RACK_ENV"] == 'production'
      =stylesheet_link_tag 'deploy.css'
      =javascript_include_tag 'deploy.js'
    - else
      =stylesheet_link_tag 'reset', 'grid', 'style'
      = javascript_include_tag '/faye.js','faye_ext','def', 'sha1','prototype.s2.min','handlebars','templates','euwindow', 'abmessage', 'lowpro','managers','abapp','app'

%body
  =flash_tag(:success, :class => 'message success', :id => 'flash-success')
  =flash_tag(:notice, :class => 'message notice', :id => 'flash-notice')
  =flash_tag(:error, :class => 'message error', :id => 'flash-error')   
  #app_element{:style => "display:none;"} 
  #message{:style => "display:none;"}
    %p
  .container_12#container
    .grid_12.header
      %h1
        %a{href: '/'}
          %img{src: '/images/logo_2.png', alt: "Rambler"}
      .nav>
        %ul>  
    .clear.vspace_2
    =yield

    .grid_12.alpha#footer{style: "display:none"}
      %p
        An Odopod joint.
      