.messages.popup_stream{:"data-channel" => '{{channel}}', :style =>'display:none'}
  {{contents}}
  %p.command
    %a.pull{href:'/{{channel}}'}
      %img{src: '/images/load_more.png', alt: 'Load More'}
    %a.focus.minor{href:'/{{channel}}'}
      Focus
    %a.leave.minor{href:'/{{channel}}'}
      Leave