- if session[:userid]
  .page.index
  %form.publisher.grid_12                       
    =text_field_tag :message, :placeholder => "Say something&hellip;"

  .clear.vspace_1
- else
  :javascript
    $$('.nav ul')[0].insert({bottom:"<li class='command'><a href='/auth/facebook'>Login with Facebook</a></li>"});