%form.publisher.grid_12
  =text_field_tag :message, :placeholder => "Say something&hellip;"

.clear.vspace_3
.main_divider
.clear.vspace
.scroller.grid_7
  .messages#main_stream
    - @posts.each do |post|
      %p 
        %span.user= post.username 
        %span.text= post.text
.grid_2.push_3.right
  %button{class: "local_popup small", value: "channel:join"}
    Join Room
  .clear.vspace
  %button{class: "local_popup small", value: "channel:sidebar"}
    Start a Sidebar
  .sidebars
    %ul
