%form{action: "/register", method:'post'}
  =text_field_tag "email", placeholder: "austin@odopod.com"
  %p 
    Use your odopod.com e-mail address. Your password will be your username without the @odopod.com