html {
	font-family:'Helvetica Neue', sans-serif;
	font-size:16px;
	color:#999;
/*	background:url('/images/pink_dot_bg.gif') repeat-x ; */
  background-color:#f4f4f4; 
  overflow-y:scroll;
}    

a {
  color:#B00;
  text-decoration:none;
}

p.generous button{
  margin-bottom:1ex;
  min-width:110px;
}

.right {
float:right;
text-align:right;
}

.header {
  color:#fff;
}                

.account {
  margin-top:5ex;
  color:#4E4E4E;
  font-weight:bold;
  font-size:13px;
}              
   
.account .profile {
  vertical-align:middle;
  vertical-align:middle;
  margin-top:14px;
  line-height:1.5em;
}                

.account .profile a {
  font-size:11px;
}

.account .image {
  margin-left:2ex; 
  vertical-align:middle;
}

.account .image img {
  border:4px solid #4e4e4e;
}

.header h1 {
	position:relative;
	bottom:2px;
  display:inline-block;
  vertical-align:middle;
}

.header ul, .header ul li, .sidebars ul, .sidebars ul li{
  list-style-type:none;
}  
             
.header .nav {
  display:block;
  width:100%;
}
.header .nav ul {
	background-color:rgba(0,0,0,.6);
	padding:0px 22px;
}

.header ul li {
  display:inline-block;
  font-size:14px;
	font-weight:bold;
}

.main_divider {
  position:absolute;
  width:100%;
  left:0px;
  border-bottom:3px double rgba(0,0,0,.1);
}

h1,h2,h3,h4,h5,h6 {
  margin:1ex 0ex;
}

h1 {
  font-size:54px;
  letter-spacing:-3px;
}

h1 a {
  text-decoration:none;
  color:#B80D00;
}

h2 {
  font-size:22px;
}

.messages p, .listing p {
  padding:2ex 8px;
}   

.messages p.command {
  text-align:center;   
}    

.messages .command a {
  color:#960042;
  text-decoration:none;
}
.messages .command a.minor {
  font-size:10px;
  font-weight:bold;
  float:right;
  text-transform:uppercase;
  margin:0px 10px;
}  

.messages .command a.inactive {
  color:rgba(0,0,0,.2);
}

.messages .message .text img {
  max-height:200px;
  border:4px solid #fff;
  -webkit-box-shadow:rgba(0,0,0,.15) 0px 2px 4px 1px;
  cursor:pointer;
}  


.messages .message.persists-false {
  opacity:.7;
  font-size:65%;  
}

.messages .message.reply {
  font-size:55%;
  color:rgba(0,0,0,.6);
  padding-top:1ex;
  padding-bottom:1ex;
  background-color:rgba(0,0,0,.05);
  margin-top:3px;
  border-bottom:1px solid rgba(0,0,0,.04);
}

.messages .message.reply{
  width:92%;
  margin-left:3%;
}  
    
/*.messages p:not(.has_replies):not(.reply) {
  -webkit-box-shadow:rgba(0,0,0,.2) 0px 6px 8px 0px;
  border-bottom:1px solid rgba(0,0,0,.1);
} */       


.messages .message + .message:not(.reply):not(.has_replies) {
  margin-top:15px;  
  margin-bottom:15px; 
 /* -webkit-box-shadow:rgba(0,0,0,.1) 0px -3px 8px 0px; */
}
.messages .message:not(.reply){
  border-bottom:4px solid rgba(0,0,0,.04);
  
} 
     
.messages .message:nth-child(even), .listing .message:nth-child(even){
  background-color:rgba(0,0,0,.02);
}   
.messages .message:nth-child(odd), .listing .message:nth-child(odd){
  background-color:rgba(0,0,0,.06);
}

.messages .message.reply:nth-child(odd),  .message.reply:nth-child(even){
  background-color:rgba(0,0,0,0);
}

.publisher {
  margin-top:1ex;
  margin-bottom:1ex;
}
.publisher input[type=text]{
  font-size:20px;
	width:100%;
	background-color:rgba(255,255,255,.98);
}
button, .button, input:not([type="image"]) {
  cursor:pointer;
  font-size:16px;
  padding:1ex;
  border:1px solid rgba(0,0,0,.25);
  border:1px solid #ddd;
	
  font-family:'Helvetica Neue', Helvetica, Arial;
}
  
input[type=text]:focus {
  cursor:text;
}
button, input[type=button], input[type=submit] {
  font-size:14px;
}            

#preview {
  width:185px;
  height:185px;
  background:url('/images/preview.png') no-repeat;
  position:absolute;
  top:0px;
  right:0px; 
  z-index:990; 
}

#scroll_top {
  z-index:900;
  position:fixed;
  bottom:50px;
  right:50px;
  height:35px;
  width:35px;
  background:rgba(0,0,0,.15) url("/images/up.png") no-repeat;  
  background-position:center center;
}

input[type=text]{
  width:80%;
}

p:hover button.sidebar {
  display:inline-block;
}
button.sidebar {
  display:none;
  padding:.5ex;
  font-size:10px;
}

input[type=button],input[type=submit],button {
  vertical-align:middle;
  display:inline-block;
  padding:1ex 2ex;
  background: #EEE -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E4E4E4), color-stop(.05, #F4F4F4));
              -webkit-background-clip: border-box;
} 

input[type=button].small, input[type=submit].small,button.small {
  font-size:65%;
  font-weight:bold;
}

p.action_bar {
  text-align:right;
  border-top:1px solid rgba(0,0,0,.10);
  padding-top:15px;
  margin-top:20px;
}

.nav li.tracker, .nav li.command {    
	margin:0px;
  cursor:pointer;     
  padding:8px 18px;
  padding-bottom:9px;  text-shadow:rgba(0,0,0,1) 0px 0px 6px;
	border-left:1px solid rgba(0,0,0,.2);  
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	border-right:1px solid rgba(255,255,255,.25);  
}  

.nav li.command {
	border-left:none; 
}                                         
                           
.nav li.tracker:first-child, .nav li.command:first-child {
	border-left:none;
}
.nav li.tracker:last-child, .nav li.command:first-child {
	border-right:none;
}    

.nav li.command a { 
  text-decoration:none;
  color:#fff; 
  text-shadow:none;                  
  font-size:11px;
  text-transform:uppercase;
  background-color:rgba(0,0,0,.6); 
  display:inline-block;
  padding:4px 8px;   
   padding-bottom:5px;
   -webkit-border-radius:18px;
  -webkit-transition-property: background-color,color;  
  -webkit-transition-duration: .35s;
}                             

li.command a:hover { 
  color:#000;
  background-color:#FDBB09;
}

li.tracker.active {
	border-top:4px solid rgba(0,0,0,.3);
}

li.tracker img {
  position:relative;
  top:4px;
}
.sidebars li.tracker {
  padding:8px 0ex;
  margin:8px 0ex;
 /* padding-right:12px;
  -webkit-border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;*/
}

li.tracker.active {
  background-color:rgba(0,0,0,.08);
}


.count:empty(){
  display:none;
}
.count {
  padding:4px 8px;
  padding-bottom:5px;
  margin-left:4px;
  -webkit-border-radius:18px;
  display:inline-block;
} 

.messages p .count {
  padding:0px;
}


.count.new {                   
  color:#fff;
	-webkit-animation-name: turn;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function:linear;
 -webkit-animation-timing-function: ease-in-out;
  background-color:rgba(0,0,0,.4);
}



.messages {
  font-size:22px;
  line-height:1.3em;
/*  float:left; */
}   

.popup_stream::-webkit-scrollbar, #bookings::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 1.5ex;   
    background:#ddd;
    }
 
.popup_stream::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:vertical{
    background: rgba(0, 0, 0, .2);
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, .08)));
	border-radius:8px;
    }                      

        

.popup_stream {
  overflow:hidden;
  display:block;
  border:#960042 4px solid;        
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
/*	border:1px solid #ddd;  */                          
  border:none;
  border-top:4px solid #666;
	color:#111;
  box-sizing:border-box;
/*  background:#F0EAD8 url('/images/dialogbg_2.png'); */
	background-clip:padding-box;
/*  -webkit-box-shadow:rgba(0,0,0,.25) 0px 4px 4px 0px;*/
}

#main_stream {
  display:none;
/*  border-right:1px solid rgba(0,0,0,.1);*/
} 

#secondary_streams {
}
#secondary_streams .messages {
	font-size:14px;
} 


span.user {
  font-size:13px;
	font-weight:normal;
  display:inline-block;
	text-align:right;  
	
}                   

span.short_list {
	font-size:11px;
	font-style:italic;
	opacity:.8;
}
          
  .messages .message {
    padding:2ex 1ex;
  }
  
  .messages .message.invitation {
    background-color:#F6F3D2;
  }
                 
  .messages .controls {
    padding:0px;
    display:inline-block;
    width:10%;
    text-align:right;
  }
    .messages .message .controls input {
      opacity:0;
      width:auto;
      height:auto;
      padding:0px;
      margin:0px;
      border:none;
      -webkit-transition:opacity .3s;
    }  
    .messages .message:hover .controls input{
      opacity:1.0;
    }
       
    .messages span.controls img{
      -webkit-box-shadow:none;
      border:none;
      padding:0px;
      margin:0px;
    }  
    
.message ul.meta {
  display:inline-block;   
  vertical-align:text-top;
	width:10%;
	margin-right:5%;;
  list-style-type:none;
  text-shadow:#fff 0px 1px 1px;
  color:rgba(0,0,0,.5);
}                 
  .message ul.meta li {
    width:100%;            
    list-style-type:none;
    font-size:11px;
    line-height:14px;
    padding:0px;
    text-align:right;
  }
.message .text {
	vertical-align:top;
	display:inline-block;
	width:70%;  
	padding:0px;
}  

#loader {
  position:absolute;
}


/* Move this stuff to another file. */

/* Messaging */

#flash {            
  position:absolute;
  width:100%;
  left:0px;
  padding:12px inherit;
	z-index:999;
	top:0px;  
	font-size:20px;
	font-weight:bold;
	text-shadow:rgba(255,255,255,.5) 0px 1px 0px;
} 

#flash p {width:88%;margin:auto;}

.flash span.user {
	min-width:0px;
	margin-right:50px;
}

.flash {
 font-family:'Helvetica Neue', Helvetica, Arial;
z-index: 105;
font-size: 18px;
font-weight: bold;
text-shadow: rgba(255,255,255,.5) 0px 1px 0px; 
text-align:center;
}
.flash.error, #flash.error {
background-color: rgba(0,0,0, .85);
color: #FF1300;
text-shadow:rgba(0,0,0,.5) 0px 1px 1px;
}
.flash.notice, #flash.notice {
background-color: rgba(0,0,0, .5);
color: #FFF;
text-shadow:rgb(0,0,0) 0px 0px 4px;
}                     
.flash.success {         
  background-color:rgba(115,215,26,.90);
  color:#184100;
}               
.flash.progress p {
  background-color:rgba(0,0,0,.5);
  -webkit-border-radius:2ex;
  padding:.5ex 2ex;
  display:inline;
  width:auto;
}   
#flash.progress {
  text-shadow:#000 0px 1px 0px;
  
}
.flash.progress {
  color:#fff;
  text-shadow:#000 0px -1px 1px;
  
	background-color: rgba(0,145,211,.8);
	background-image:
		-webkit-gradient(linear, 100% 0, 0 0,
			color-stop(0.01, rgba(255,255,255,.01)),
			color-stop(0.5, rgba(255,255,255,.3)),
			color-stop(0.99, rgba(255,255,255,.01)));
	background-image:
		-moz-linear-gradient(33deg, 
			transparent,
			transparent 10%, 
			rgba(255,255,255,1) 10%, 
			rgba(255,255,255,1) 44.5%, 
			transparent 44.5%, 
			transparent 70%, 
			rgba(255,255,255,1) 70%,
			rgba(255,255,255,1)),
		-moz-linear-gradient(left,
			rgba(0,0,0,.3) 5%,
			rgba(255,255,255,.8) 6%,
			rgba(255,255,255,.05) 45%,
			rgba(0,0,0,.05) 55%,
			rgba(0,0,0,.2) 85%,
			rgba(0,0,0,.5) 98%),
		-moz-linear-gradient(-90deg,
			transparent,
			transparent 29%,
			rgba(255,255,255,.5) 29%,
			rgba(255,255,255,.5) 49%,
			transparent 49%,
			transparent);
		);
	background-repeat: repeat-x;
	-webkit-background-position-x: 100%;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-both;
	-webkit-animation-name: progressBarAnim;
	
	-moz-background-size: 50% 100%;
	-moz-background-position-x: 0%;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-moz-animation-name: progressBarAnim;
	
	background-size: 50% 100%;
	background-position-x: 0%;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: progressBarAnim;
	
}
@-webkit-keyframes progressBarAnim {
	0% { background-position-x:  0%; background-color: rgba(0,145,211,.6);/*color:rgba(0,145,211,.9); text-shadow:rgba(255,255,255,0) 0px 1px 1px;*/}
/*	20% {color:#fff; text-shadow:#000 0px -1px 1px;}*/
	50% {background-color: rgba(0,145,211,9);}
/*	60% {color:#fff; text-shadow:#000 0px -1px 1px;} */
	100% { background-position-x: 100%; background-color: rgba(0,145,211,.6);/*color:rgba(0,145,211,.9);text-shadow:rgba(255,255,255,0) 0px 1px 1px;*/}
}
@-moz-keyframes progressBarAnim {
	0% { background-position-x:  0%; opacity: 0;}
	50% {opacity: .5;}
	100% { background-position-x: 100%; opacity: 0;}
}
@-keyframes progressBarAnim {
	0% { background-position-x:  0%; opacity: 0;}
	50% {opacity: .5; }
	100% { background-position-x: 100%; opacity: 0;}
}      
.flash .happy {
  display:inline-block;
  font-size:50%;
  text-transform:uppercase;
  padding:0px 4px;    
  height:auto;
  background-color:rgba(255,255,255,.9);
  color:rgba(0,0,0,.8);
  font-weight:bold;
}        


/* EUWINDOW */

.EUWindow {                
  position: absolute;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 16px;
  margin: auto;
  z-index: 100;
/*  border:#960042 4px solid;*/
	border:rgba(0,0,0,.35) 4px solid;
  -webkit-border-radius:8px;
  background:#F0EAD8 url('/images/dialogbg.png');
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
  -webkit-box-shadow:rgba(0,0,0,.18) 0px 0px 8px 2px;
}

.EUWindow p {
  line-height: 1.35em;
}   

.EUWindow h2 {
	color:rgba(0,0,0,.85);
}

.EUWindow .widget.full { width: 400px; margin:0px;}
.EUWindow .widget.mod { width: 600px; }
.EUWindow .widget.wide { width: 720px; }
.EUWindow .widget.tall { min-height: 600px; }
.EUWindow .contents { background-color: #ffffff; color:#fff;}
.EUWindow h2 img.right, .EUWindow h2 .spinner { float: right; }
.EUWindow .left { text-align: left; } 
.EUWindow form section {
  margin:2ex 0ex;
}
.EUWindow form input[type=text]{
  width:100%;
}

.spinner {
  display:block;
  -webkit-animation-name: spin;
  -webkit-animation-duration: .65s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function:linear;  
	background:url('/images/spinner.png') center center no-repeat;
	background-size:100%;
}

.spinner.small {
	background:url('/images/spinner.png') center center no-repeat;
  display:inline-block;
   width:16px;   
 	height:16px;
}   
 

.spinner.medium{
	display:inline-block;
  width:48px;   
	height:48px; 
	margin-top:-10px;
}

@-webkit-keyframes spin {
  0%{
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}  

@-webkit-keyframes turn {   
	0%{
		-webkit-transform:rotateY(0deg);
	}
	30%{
		-webkit-transform:rotateY(180deg);
	}                                   
	40%{
		-webit-transform:rotateY(360deg);
	}
	100%{
		-webkit-transform:rotateY(0deg);
	}
}



.vspace {
  height:16px;
}

.vspace_2 {
  height:32px;
}   

.vspace_3 {
  height:48px;
}