html {
	font-family:'Helvetica Neue', sans-serif;
	font-size:16px;
	color:#999;
	background:url('/images/pink_dot_bg.gif') repeat-x ;
	overflow-y:scroll;
}

.header {
  background-color:#DF3D82;
  color:#fff;
  padding:2ex 2ex;
  margin-bottom:8ex;    
  border-top:4px solid rgba(0,0,0,.35);
}

.header h1 {
  width:60%;
  display:inline-block;
  vertical-align:middle;
}

.header ul, .header ul li{
  display:inline-block;
  list-style-type:none;
}

.header ul li {
  font-size:13px;
  font-weight:bold;
}

.main_divider {
  position:absolute;
  width:100%;
  left:0px;
  border-bottom:3px double rgba(0,0,0,.1);
}

h1,h2,h3,h4,h5,h6 {
  margin:1ex 0ex;
}

h1 {
  font-size:32px;
}

h2 {
  font-size:22px;
}

.messages p {
  font-size:22px;
  padding:12px 8px;
}   

.messages p.command {
  text-align:center;
}    

.messages p.command a {
  color:#960042;
  text-decoration:none;
}

.messages p img {
  max-height:200px;
  border:4px solid #fff;
  -webkit-box-shadow:rgba(0,0,0,.15) 0px 2px 4px 1px;
  cursor:pointer;
}  

.messages p.persists-false {
  opacity:.7;
  font-size:11px;
}
     
.messages p:nth-child(even){
  background-color:rgba(0,0,0,.03);
}

input, button {
  font-size:20px;
  padding:1ex;
  border:1px solid rgba(0,0,0,.25);
  border-radius:.25ex;
}

input[type=text]{
  width:80%;
}

p:hover button.sidebar {
  display:inline-block;
}
button.sidebar {
  display:none;
  padding:.5ex;
  font-size:10px;
}

input[type=button],input[type=submit],button{
  padding:1ex 2ex;
  background: #EEE -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E4E4E4), color-stop(.05, #F4F4F4));
              -webkit-background-clip: border-box;
}

li.mentions {
  padding:8px 13px;
  padding-bottom:9px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.2)), to(rgba(255,255,255,.1)), color-stop(.05, rgba(255,255,255,.3)));
              -webkit-background-clip: border-box;
  text-shadow:rgba(0,0,0,.5) 0px 1px 1px;
  border-radius:18px;
  
}

li.mentions .count {
  background-color:rgba(0,0,0,.4);
  padding:3px;
  padding-bottom:4px;
  -webkit-border-radius:12px;
  display:inline-block;
}

span.user {
  font-size:13px;
  display:inline-block;
  min-width:100px;
}

.messages {
  float:left;
}

#mention_stream {
  display:block;
  position:absolute;
  width:600px;
  border:#960042 4px solid;
  -webkit-border-radius:8px;
  background-color:#F0EAD8;
}


.vspace {
  height:16px;
}

.vspace_2 {
  height:32px;
}